/* Fonts */
/* aleo-regular - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/aleo-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* aleo-700 - latin */
  @font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/aleo-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* red-hat-text-regular - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* red-hat-text-500 - latin */
  @font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/red-hat-text-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* magra-regular - latin */
@font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/magra-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/magra-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* magra-700 - latin */
  @font-face {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/magra-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/magra-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента. */
  html {
    box-sizing: border-box;
}

*, *::before, ::after {
    box-sizing: inherit;
}

/* Body (Footer) */
body {
    /* min-height: 100vh; */
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header {
    position: absolute;
    /* position: fixed; */
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.bg{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
    height: 90px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 0 0 13px;
}
.menu li{
    margin-right: 42px;
}

.container-nav{
    /* max-width: 1200px; */
    margin: auto 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo img {
    margin-right: 6px;
}

.logo {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.menu a {
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.login-button {
    box-shadow: 0px 4px 4px rgb(13 96 111 / 50%);
    height: 42px;
    width: 103px;
    background-color: #0D606F;
    border-radius: 10px;
    border-style: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Preview */
.preview{
    height: 765px;
    background: url(../assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg) no-repeat center top ;
}

.preview-bg {
    display: flex;
    margin: 122px auto auto 120px;
    width: 892px;
    height: 390px;
}

.preview-receive {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.preview-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview-explore {
    margin: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}
/* Form */
form {
    margin-top: 13px;   
    position: relative;
    width: 892px;
    height: 95px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.7);
  }

  .preview-input, .preview-button {
    border: none;
    outline: none;
    border-radius: 3px;
  }

  .preview-input {
    width: 560px;
    height: 22px;
    margin: 37px 35px;
    font-family: 'Aleo';
    /* font-style: italic; */
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    background: transparent;
  }

/* Placeholder */
  input[type="text"]::placeholder {
    color: #F2785C;
  }

  .preview-button {
    width: 228px;
    height: 59px;
    position: absolute;
    top: 18px;
    right: 18px;
    background: #0D606F;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
  }

/* Steps */
.steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.steps-text{
    margin: 0 auto;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.steps-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.steps-icons{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps-icons img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.steps-icons a{
    margin-top: 30px;
    text-decoration: none;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

/* destinations */
.destinations{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 77px;
}

.destinations-text{
    margin: 0 auto;
}

.splide__track{
    /* z-index: -1 !important; */
}
.splide__pagination{
    bottom: -48px !important;
}

.splide__pagination__page.is-active{
    background-color: #F2785C !important;
    transform: scale(1) !important;
}
.splide__pagination__page{
    width: 20px !important;
    height: 20px !important;
    background: rgba(242, 120, 92, 0.5) !important;
}

.splide__slide{
}
.splide__slide img{
    width: 800px;
    height: 800px;
    border-radius: 16px;
}
.destinations-btn{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.destinations-btn button{
    width: 228px;
    height: 59px;
    margin-top: 84px;
    background: #0D606F;
    cursor: pointer;
    border-style: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

/* Stories */
.stories-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.s-r {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0D606F;
}

.stories-main {
    height: 1331px;
    background: url('../assets/img/Rectangle 33.jpg') no-repeat center top;
}

.stories-bg {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 0 0 61px 0;
    background: rgba(255, 255, 255, 0.7);
    width: 1440px;
    height: 1270px;
}

.stories-wrapper {
    margin: 15px 120px;
    display: flex;
    flex-direction: row;
    height: 250px;
}

.stories-img {
    width: 400px;
    height: 250px;
}

.stories-img img {
    border-radius: 16px;
}

.stories-info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: space-around;
}

.stories-info h3 {
    margin: 0;
}

.stories-info p {
    margin-bottom: 0;
}

.stories-btn{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stories-btn button{
    width: 228px;
    height: 59px;
    margin-top: 30px;
    background: #0D606F;
    cursor: pointer;
    border-style: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

/* Footer */
footer {
    /* background: #888; */
    /* position: relative;
    top: -72px; */
    margin-top: -61px;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 61px;
    margin: 0 120px;
    padding: 0;
}

.school-logo img {
    width: 100px;
    display: block;
}

.logo-section {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.logo-section li{
    margin: 0 10px;
}

.social-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-footer{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.social-section li {
    margin: 0 10px;
}
